<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/style1.css" rel="stylesheet" type="text/css" />
</head>

<p id="top"><%= current_user.username %>   <a href="/recipes">Home</a> <a href="/recipes/new">New Recipe</a> <a href="/users/<%= current_user.id %>">My Recipes</a> <a href="/logout">Logout</a></p>

<h1>Recipe Form</h1>

<form action="/recipes" method="POST">
  <label>Name:</label><br>
  <input type="text" name="name"><br><br>
  <label>Category:</label><br>
  <input type="text" name="category"><br><br>
  <label>Prep Time:</label><br>
  <input type="text" name="prep_time"><br><br>
  <label>Cook Time:</label><br>
  <input type="text" name="cook_time"><br><br>
  <label>Ingredients:</label><br>
  <input type="textarea" name="ingredients"><br><br>
  <label>Instructions:</label><br>
  <input type="textarea" name="instructions"><br><br>
  <input type="submit" name="submit" value="Create">

</form>
