<h1>Recipes</h1>

<% @recipes.each do |recipe| %>

  <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h2>
  submitted by: <a href="/users/<%= recipe.user.id %>"><%= recipe.user.username %></a>

<% end %>
