<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>

<h1>Review <%= @recipe.name %></h1>

<form action="/recipes/<%= @recipe.id %>/review" method="POST">
  <label>Rating (1-5)</label><br><br>
  <input type="number" name="rating" min="1" max="5"><br><br>
  <label>Review</label><br><br>
  <input type="text" name="content"><br><br>
  <input type="submit" name="submit" value="submit">
</form>
