<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/style1.css" rel="stylesheet" type="text/css" />
</head>

<h1>Welcome to Hangry!</h1>

<img src="https://movieevangelist.files.wordpress.com/2014/12/angry-bear.jpg" alt="hungry animal">

<h2>Who sits at this table?</h2>

<a href="/login">Login</a>
<a href="/signup">Sign up</a>
